* {
    padding: 0;
    margin: 0;
}

html {
    font-family:Radikal,Helvetica,Arial,sans-serif;
    font-size: 12pt;
}

ul {
    list-style: none;
}

:root {
    --height-header: 40px
}

header {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0c2f51;
}

body {
    min-height: 100vh;
    box-sizing: border-box;
    padding-bottom: 100px;
    overflow-y: scroll;
    background-color: rgb(0, 7, 49);
}

.mobile_icon_menu {
    display: none;
    height: 40px;
    height: var(--height-header);
}

.mobile_icon_menu_button{
    border: none;
    outline: none;
    background: none;
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
    margin: 5px 15px;
}

:root {
    --time-transition-menu-line: 1s
}

.mobile_icon_menu_line{
    height: 3px;
    background-color: white;
    width: 100%;
    position: absolute;
    display: block;
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1),
        opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
}

:root {
    --margin-menu-line: 8px;
}

.top_line {
    transform: translateY(-11px);
    transform: translateY(calc(-1 * var(--margin-menu-line) - 100%));
}

.middle_line {
    transform: translateY(-50%);
}

.bottom_line {
    transform: translateY(8px);
    transform: translateY(var(--margin-menu-line));
}

.header_menu {
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
    max-width: 1280px;
    margin: 0 0 0 auto;
    padding: 0 20px;
    height: 40px;
    height: var(--height-header);
}

.header_menu li {
    cursor: pointer;
    flex-grow: 1;
    text-align: center;
}

.header_menu li a{
    padding: 0.7rem 0;
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
    display: block;
    transition: color 0.8s;
}

.header_menu .active_link {
    color: rgb(255, 221, 157);
}

.header_menu li:not(:first-child) a {
    padding-left: 0.7rem;
}

.header_menu li a:hover{
    color: orange;
}

:root {
    --percent-water: 34;
    --height-linear-gradient: 150vh;
}

.wrap_title {
    height: 51vh;
    height: calc(var(--height-linear-gradient) * var(--percent-water) / 100);
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap_title.small_height {
    height: auto;
    margin-top: 60px;
}

h1 {
    transform: skewY(-11deg);
    text-align: center;
    color: #04cdb2;
    font-size: 3.6em;
}

@media (max-width: 759px) {
    h1 {
        font-size: 2.6em;
    }
}

h1.without-skew {
    transform: none;
    padding-left: 15px;
    padding-right: 15px;
}

@media screen and (max-width: 1280px) {
    .header_menu {
        flex-direction: column;
        display: none;
        padding-bottom: 1rem;
        height: auto;
    }

    .header_menu li:not(:first-child) a {
        padding-left: 0;
        padding-bottom: 0;
    }

    .header_menu li:first-child a{
        padding-top: 0;
        padding-bottom: 0;
    }

    .mobile_icon_menu{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .open_menu .header_menu{
        display: flex;
    }

    .open_menu .top_line {
        transform: rotate(45deg);
    }
    
    .open_menu .middle_line {
        opacity: 0;
    }
    
    .open_menu .bottom_line {
        transform: rotate(-45deg);
    }
}