#svg2982 {
    margin-top: 40px;
    width: 100%;
    height: auto;
    min-height: 528px;
    display: inline-block;
}

@media (max-width:1279px) {
    #svg2982 {
        min-height: 314px;
    } 
}

@media (max-width:779px) {
    #svg2982 {
        min-height: 127px;
    } 
}

 .continent:hover {
    fill: coral;
 }

 .continent , .land {
    cursor: pointer;
    fill: #FEFEE9;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #646464;
    stroke-width: 0.25;
    transition: fill 0.8s;
 }

 .carved-out {
    fill: none;
    stroke: #646464;
    stroke-width: 1.25;
    stroke-miterlimit: 1;
    stroke-dasharray: 0.25, 0.25;
    stroke-dashoffset: 0;
 }