<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/admin.css">
    <link rel="stylesheet" href="/style_admin.css">
    <title>Графики</title>
</head>
<body>
<div class="admin-panel graphics-panel">
    <h1>Графики</h1>

    <div class="a-margin">
        <a th:href="@{/admin}" class="uploadButton">Административная панель</a>
    </div>

    <div>
        <img src="http://localhost/admin/graphics/graphicHeight.php"/>
    </div>
    <div>
        <img src="http://localhost/admin/graphics/graphicTempOfWeight.php"/>
    </div>
    <div>
        <img src="http://localhost/admin/graphics/graphicIllnesses.php"/>
    </div>
</div>
</body>
</html>