<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Графики</title>
</head>
<body>
<h1>Графики</h1>

<div>
    <a th:href="@{/admin}">административная панель</a>
</div>

<div>
    <img src="http://localhost/admin/graphics/graphicHumadityAndTemperature.php"/>
</div>
<div>
    <img src="http://localhost/admin/graphics/graphicilluminace.php"/>
    <img src="http://localhost/admin/graphics/graphicSound.php"/>
</div>
<div>
    <img src="http://localhost/admin/graphics/graphicVoltage.php"/>
</div>

</body>
</html>